*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 25px;
    font-size: 16px;
    color: var(--primary-color);
    font-family: "Caudex", serif;

}

@media screen and (max-width: 1400px) {
    .container {
      max-width: 92%;
    }
}
@media screen and (max-width: 1200px) {
    .container {
      max-width: 94%;
    }
}
  @media screen and (max-width: 991px) {
    .container {
      max-width: 96%;
    }
  }
  
/* Colors */
:root {
    --primary-color: #0d1955; /* Dark Navy Blue */
    --secondary-color: #fbe515; /* Bright Yellow */
    --white-color: #fff;
    --title-color:#fbaa15;
    --transition-duration: 0.5s; /* Animation duration */
}
.btn-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white-color);
    font-weight: 500;
}
.btn-primary:hover ,.btn-primary:active{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-secondary {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
}
.btn-secondary:hover ,.btn-secondary:active ,.btn-secondary:focus {
    background-color: transparent !important;
    border: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}
.btn-circle{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-square {
    width: 38px;
    height: 38px;
}
.btn-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.btn-square:hover {

    background-color: var(--secondary-color);
    color: var(--white-color);
}
.text-primary{
    color: var(--primary-color) !important;
}
.text-secondary{
    color: var(--secondary-color) !important;
}
.title-color{
    color: var(--title-color);
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .1rem rgba(13, 110, 253, .25);
}
.card .text-muted{
    font-size: 14px;
}
/* Header Styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--primary-color); /* Initial background color */
    color: var(--white-color)!important;
    z-index: 1000;
    transition: background-color var(--transition-duration), color var(--transition-duration);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
header .nav-item .nav-link{
    color: var(--white-color);
    padding: 32px 0px!important;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width:991px) {
    header .nav-item .nav-link{
        color: var(--white-color);
        padding: 10px 0px!important;
        margin-left: 10px;
        margin-right: 10px;
    }
}
header .nav-item .nav-link:hover{
    color: var(--secondary-color);

}
header.sticky .nav-item .nav-link{
    padding: 32px 0px!important;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-link.active{
    color: var(--secondary-color) !important;
}
.nav-link.active:before{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    content: '.';
    color: transparent;
    background: var(--secondary-color);
    height: 2px;
}
@media screen and (max-width:991px) {
    header.sticky .nav-item .nav-link{
        padding: 10px 0px!important;
        margin-left: 10px;
        margin-right: 10px;
    }
}
header.sticky {
    color: var(--white-color); /* Text color when sticky */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
}

header .logo img {
    height: 80px;
}

.navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
 header.sticky .navbar-toggler .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary-color);
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow:none !important;
}
  /* Initial state (hamburger icon) */
  .navbar-toggler.collapsed .icon-bar:nth-child(1) {
    transform: rotate(0) translate(0, 0);
  }

  .navbar-toggler.collapsed .icon-bar:nth-child(2) {
    opacity: 1;
  }

  .navbar-toggler.collapsed .icon-bar:nth-child(3) {
    transform: rotate(0) translate(0, 0);
  }

  /* State when navbar is open (plus icon) */
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    -moz-transform: rotate(45deg) translate(5px, 6px);
    -ms-transform: rotate(45deg) translate(5px, 6px);
    -o-transform: rotate(45deg) translate(5px, 6px);
}

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
    -webkit-transform: rotate(-45deg) translate(6px, -5px);
    -moz-transform: rotate(-45deg) translate(6px, -5px);
    -ms-transform: rotate(-45deg) translate(6px, -5px);
    -o-transform: rotate(-45deg) translate(6px, -5px);
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}


/* stroke */
nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--secondary-color);
    height: 2px;
  }
  
nav.stroke ul li a:hover:before {
  width: 100%;
}

/* Smooth animation effect for sticky header */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Slider full height */
.video-carousel-wrapper{
    margin-top: 90px;
}
.carousel-item {
    height: 800px;
    position: relative;
    width: 100%;
}
.carousel-item img {
    width: 100%;
}  
@media screen and (max-width:576px) {
    .carousel-item {
        height: 220px;
        position: relative;
        width: 100%;
    }   
}
@media screen and (min-width:767px) and (max-width:991px) {
    .carousel-item {
        max-height: 470px;
        height: 470px;
        position: relative;
        width: 100%;
    }   
}
@media screen and (min-width:991px) and (max-width:1100px) {
    .carousel-item {
        height: 577px;
        position: relative;
        width: 100%;
    }   
}
@media screen and (min-width:1100px) and (max-width:1200px) {
    .carousel-item {
        height: 600px;
        position: relative;
        width: 100%;
    }   
}
@media screen and (min-width:1200px) and (max-width:1300px) {
    .carousel-item {
        height: 650px;
        position: relative;
        width: 100%;
    }   
}
@media screen and (min-width:1300px) and (max-width:1400px) {
    .carousel-item {
        height: 760px;
        position: relative;
        width: 100%;
    }   
}
/* Fullscreen YouTube Video */
.carousel-item iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.carousel-item iframe:before {
    position: absolute;
    content: '';
    background: rgba(15, 23, 43, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Overlay content for each slide */
.carousel-caption {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: rgba(15, 23, 43, .5);
    z-index: 1;

}
.carousel-content{
    max-width: 800px;
}
.carousel-content h2{
    font-size: 45px;
    font-weight: 700;
}

.carousel-content h4{
    font-size: 22px;
    margin-bottom: 30px;
}
@media screen and (max-width:576px) {
    .carousel-content{
        max-width: 900px;
    }
    .carousel-content h2{
        font-size: 22px;
        font-weight: 700;
    }
    .carousel-content h4{
        font-size: 18px;
        margin-bottom: 30px;
    }
}
.btn-carousel-hover:hover{
    border-color:var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
}
/* Floating Icons */
.floating-icons {
    position: fixed;
    bottom: 10%;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.floating-icons a {
    margin: 5px;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.floating-icons a:hover {
    background-color: #2e3b85;
}

/* About Section Styling */
.about {
    padding: 30px 0;
    background-color: var(--white-color);
    color: var(--primary-color);
    line-height: 20px;
}

.about h2 {
    color: var(--secondary-color);
}

.about p {
    font-size: 1.1rem;
    line-height: 25px;
}
.background-primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.background-primary .heading{
    color: var(--secondary-color) !important;
}
.background-primary .sub-heading{
    color: var(--secondary-color) !important;
}
/* Footer Styling */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px 0;
    line-height: 30px;
}
footer ul li{
    font-size: 14px;
}
footer a{
    text-decoration: none;
}

/* Add space to ensure header does not overlap content */
section {
    padding-top: 80px;
}
/* message section */

.message-section{
    line-height: 26px;
    padding-bottom: 50px;
}

.message-section .message-title {
    margin-bottom:100px ;
}

/* executive styling */
.executives{
    padding-bottom: 80px;
    background-color: var(--primary-color);
    color: var(--white-color);
}
.executives .member-card{
    background: #fff;
    color: var(--primary-color);
}

.executives .executive-title{
    margin-bottom: 80px;
}
.executives .executive-title p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.executives .team-member{
    border: 1px solid #0a0a0a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:767px) {
    .executives .executive-title p{
        width: 95%;
    } 
}
/* executive-page styling */
.executive-page{
    padding-bottom: 80px;
}
.executive-page .member-card{
    background: #fff;
    color: var(--primary-color);
}

.executive-page .executive-title{
    margin-bottom: 80px;
}
.executive-page .executive-title p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.executive-page .team-member{
    border: 1px solid #0a0a0a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:767px) {
    .executive-page .executive-title p{
        width: 95%;
    } 
}
/* Gallery Styling */
.gallery {
    padding-bottom: 50px;
    background-color: #f7f7f7;
}
.gallery .gallery-title{
    margin-bottom: 80px;
}
.gallery .event-card.card{
    padding: 0px 20px;
    border: 0px;
    background: transparent;
}
.gallery .event-card.card .card-img img{
    width: calc(100% + 40px);
    overflow: hidden;
    margin-left: -20px;
}
.gallery .event-card.card .card-body{
    margin-top: -30px;
    border-top:4px solid #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 10px;
    background-color: #fff;
}
.gallery .event-card.card:hover .card-body{
    border-top:4px solid var(--secondary-color);
    transition: 0.3s;
}
/* school styling */
.school{
    padding-bottom: 50px;
}
.school-item {
    
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}
.school .school-title{
    margin-bottom: 80px;
}
.school-item .school-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}
a.school-item{
    text-decoration: none;
}
a.school-item:hover {
    background-color: var(--secondary-color);
}
.school-item h6 {
    font-weight: 700;
    color: var(--primary-color);
}

/* slick slider styling */
/* Slider */
/* Slider */
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.section-title{
    display: inline-block;
    position: relative;
}
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--title-color);
}
.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--title-color);
}

/* membership page styling */
.membership{
    padding-bottom: 50px;
}
.membership .heading{
    color: var(--primary-color);
}
.heading{
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.heading:hover{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    letter-spacing: 1.2px;
}
.heading:after{
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--title-color);
}
.membership .sub-heading{
    color: #716f5b;
}
.sub-heading{
    transition: 0.3s;
}
.sub-heading:hover{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    letter-spacing: 1.2px;
}
/* news page styling */
.news-page .card {
    border: 0px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.news-page .card .card-body{
    padding-left: 0px;
    
}

/* events-page styling */
.custom-card .event-card.card{
    padding: 0px 20px;
    border: 0px;
    background: transparent;
}
.custom-card .event-card.card .card-img img{
    width: calc(100% + 40px);
    overflow: hidden;
    margin-left: -20px;
}
.custom-card .event-card.card .card-body{
    margin-top: -30px;
    border-top:4px solid #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 10px;
    background-color: #fff;
}
.custom-card .event-card.card:hover .card-body{
    border-top:4px solid var(--secondary-color);
    transition: 0.3s;
}
.side-bar a{
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
}
.executive-page .executive-section img.img-fluid{
    width: 100%;
}